<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% newListItems.forEach((element) => { %>
	<form action="/delete" method="post">
	<div class="item">
            <input type="checkbox" name="checkbox" value="<%=element._id%>" onChange="this.form.submit()">
	    <input type="hidden" name="listTitle" value="<%=listTitle%>"/>
            <p><%= element.name %></p>
	</div>
	</form>
    <% }) %>

    <form class="item" action="<% "/" + listTitle %>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
    </form>
</div>

<%- include("footer") -%>
